 .bg-img {
    background: url("https://images.pexels.com/photos/34088/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  /* .bg-img:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(10, 9, 9, 0.7);
  } */
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
  }
  .content header {
    color: #381f1f;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: "Montserrat", sans-serif;
  }
  .field {
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
  }
  .field span {
    color: #222;
    width: 40px;
    line-height: 45px;
  }
  .field input {
    height: 75%;
    width: 83%;
    color: #222;
    font-size: 16px;
    
    font-family: "Poppins", sans-serif;
    
  }
  .space {
    margin-top: 16px;
  }
  .show {
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
  }
  .pass-key:valid ~ .show {
    display: block;
  }
  .pass {
    text-align: left;
    margin: 10px 0;
  }
  .pass a {
    color: rgb(255, 255, 255);

    font-family: "Poppins", sans-serif;
  }
 
  .field input[type="submit"] {
    background: #3498db;
    border: 1px solid #2691d9;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Montserrat", sans-serif;
    border: none;
   

  

  }
  .field input[type="submit"]:hover {
    background: #2691d9;
  }
  .login {
    color: white;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
  }
  
  .links {
    display: flex;
    cursor: pointer;
    color: white;
    margin: 0 0 20px 0;
  }
  
  .links i {
    font-size: 17px;
  }
  i span {
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }
  .signup {
    font-size: 15px;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  .signup a {
    color: #3498db;
    text-decoration: none;
  }
  .signup a:hover {
    text-decoration: underline;
  }
  .btn{
    padding: 6px 30px;
    font-size: 16px;
    background-color: #34495E;
    color: white;
    border-radius: 19px;
    width: 127px;
    margin-top: 25px;
}
  
   
   
   
