.custom-select {
    width: 270px;
    height: 60px;
    background: #eee;
    position: relative;
}

.custom-select select {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    padding: 0 10px;
    appearance: none;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.custom-select::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #00f;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}
fieldset{
    margin-right: 992px;
    margin-bottom: 50px;
}
.btn{
    padding: 2px 4px;
    font-size: 20px;
    border-radius: 10px;
    border-radius: 10px;
    margin-left: 97px;
    
  }
   
